<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <service android:name="com.google.chocolateshop.MessagingService"></service>

        <receiver android:name="com.google.chocolateshop.MessageReadReceiver">
            <intent-filter>
                <action android:name="com.google.chocolateshop.ACTION_MESSAGE_READ" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.chocolateshop.MessageReplyReceiver">
            <intent-filter>
                <action android:name="com.google.chocolateshop.ACTION_MESSAGE_REPLY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
